@import "variables";
@import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400&family=Noto+Sans:wght@200;300;400&family=Nunito:wght@200;300;400&family=Open+Sans&family=Oxygen&display=swap');

body {
  font-family: 'Nunito', 'Open Sans', sans-serif;
}

p {
  margin-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;

  .indicators {
    svg {
      color: lighten($color: #000000, $amount: 75);

      &.active {
        color: #000000;
      }
    }
  }

  &:hover {
    .indicators {
      svg {
        color:  #000000
      }
    }
  }
}

h1.header {
  font-weight: 200;
}

h2.header {
  font-size: 1.75rem;
}

.page-section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}