@import "variables";
@import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400&family=Noto+Sans:wght@200;300;400&family=Nunito:wght@200;300;400&family=Open+Sans&family=Oxygen&display=swap');

body {
    font-family: 'Nunito', 'Open Sans', sans-serif;
}

p {
    margin-bottom: 0;
}

.header {
    font-weight: 200;
}
h2.header {
    font-size: 1.75rem;
}